


* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

div#container {
    width: 100%;
}

.header { 
    background-color: #add8e6;
    min-height: 50px;
    width: 100vw; 
}

.header_seperator {
    background-color: #d3d3d3;
    min-height: 30px;
    width: 100vw;

}

.menu {
    font-family: Arial;
    color: black;		
    text-align: center;
}

.main {
    font-family: Arial;
    text-align: left;
}

.packages {
    min-height: 75%;
    width: 100%; 
}

.footer {
    overflow: hidden;
    background-color: black;
    width: 100vw;
    min-height: 80px;
}

.inner_footer {
    	text-align: left;
	padding: 5;
	margin: 0 auto;
	color: #FFFFFF;
}